[submodule "external/blocksruntime"]
	path = external/blocksruntime
	url = https://github.com/mackyle/blocksruntime.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/wren"]
	path = external/wren
	url = https://github.com/wren-lang/wren-cli.git
[submodule "external/corefw"]
	path = external/corefw
	url = https://github.com/harley-queenofmars/corefw.git
[submodule "external/corefx"]
	path = external/corefx
	url = https://github.com/harley-queenofmars/corefx.git
